<header class="layout-header section section--header section--no-top-padding">
  <div class="container">
    <div class="logo__wrapper">
      <div class="logo">
        &nbsp;
      </div>
      <div class="logo__text">
        + CH
      </div>
    </div>
    <div class="header__wrapper">
      <div class="header__wrapper-title">
          We not only build digital products,  <br>we build experiences!
      </div>
      <div class="header__wrapper-subtitle">
          What do you want people to say, do or feel after they visit you online? We help you define, design and develop digital products that deliver great experiences across web and mobile - with your users, for your users.
      </div>
    </div>
    <div class="header__btn-wrapper">
        <a href="/#process"><div class="btn">see our process</div></a>
    </div>
  </div>
</header>
